*{
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

header {
    margin: 20px;
    font: normal 15pt arial;
}

input {
    width: 100px;
    padding: 7px;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: bold;
}

input:hover {
    transition-duration: 0.4s;
    background-color: rgb(0, 0, 245);
    color: white;
}

input:active {
    background-color: rgb(0, 237, 245);
    color: white;
}

